<div class="exercise3">
    <span>The condition is currently</span>
    <span class="condition-span" [appUnlessStyle]="condition">{{condition}}</span>
    <button (click)="toggle()" [appUnlessStyle]="!condition">Toggle condition to {{!condition}}</button>
    <p *ngIf="!condition" [appUnlessStyle]="condition">(A) This paragraph is displayed because the condition is false
    </p>
    <p *ngIf="condition" [appUnlessStyle]="condition">(B) Althrough the condition is true, this paragraph is displayed
        because myUnless is set to false.
    </p>
</div>