.login {
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.img-box {
    width: 65%;
    height: 100%;
    background-image: url('../../../assets/images/background-frame.svg'), url('../../../assets/images/Background.svg');
    background-position: top left, center;
    background-size: auto, cover;
    background-repeat: no-repeat, no-repeat;
}

.text-box {
    width: 35%;
    height: 100vh;
    padding: 100px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    p {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        color: #555555;
        margin-top: -15px;
    }

    .forget {
        width: 30vw;
        text-align: right;
    }

    a {
        font-family: Poppins;
        font-size: 14.14px;
        font-weight: 400;
        color: #1E2772;
    }

    button {
        width: 30vw;
        height: 50px;
        border-radius: 8px;
        font-family: Poppins;
        font-size: 16.16px;
        font-weight: 600;
        text-align: center;
        border: none;
        outline: none;
    }

    .login-btn {
        background-color: #1E2772;
        color: #fff;
    }

    .signup-btn {
        background-color: #fff;
        color: #1E2772;
        border: 1.01px solid #1E2772
    }

    label {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        color: #555555;

    }

    input {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        color: #555555;
        background-color: #EEEEEE;
        border: none;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        padding-left: 10px;
    }

    .or {
        width: 429px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .line {
        width: 184px;
        height: 0px;
        border: 1.01px solid #C2C2C2;
    }
}

.input-div {
    width: 30vw;
    height: 50px;
    position: relative;
}

.input-icon {
    height: 50px;
    width: 50px;
    border-radius: 8px;
    background-color: #1E2772;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 24px;
        height: 24px;
    }
}