<div class="signup">
    <div class="form-section">
        <!-- <button>Back to Login</button> -->
        <app-aven-logo></app-aven-logo>
        <p>Login into your account</p>
        <form [formGroup]="profileForm" (ngSubmit)="onFormSubmit()">
            <div>
                <label for="firstname">First Name :
                    <input type="text" id="firstname" placeholder="Enter your first name.." formControlName="firstName">
                    <span class="error-text" *ngIf="firstname?.invalid && firstname?.errors?.['minlength']">First name
                        must be
                        at least 4 characters long.</span>
                    <span class="error-text" *ngIf="firstname?.invalid && firstname?.errors?.['maxlength']">First name
                        cannot
                        exceed 17 characters.</span>
                    <span class="error-text" *ngIf="firstname?.touched && firstname?.errors?.['required']">First name is
                        required.</span>
                </label>
                <label for="lastname">Last Name :
                    <input type="text" id="lastname" placeholder="Enter your last name.." formControlName="lastName">
                    <span class="error-text" *ngIf="lastname?.invalid && lastname?.errors?.['minlength']">Last name
                        must be
                        at least 4 characters long.</span>
                    <span class="error-text" *ngIf="lastname?.invalid && lastname?.errors?.['maxlength']">Last name
                        cannot
                        exceed 17 characters.</span>
                    <span class="error-text" *ngIf="lastname?.touched && lastname?.errors?.['required']">Last name is
                        required.</span>
                </label>
            </div>
            <div>
                <label for="emailid">Email Id :
                    <input type="text" id="emailid" placeholder="info@xyz.com" formControlName="email">
                    <span class="error-text" *ngIf="email?.touched && email?.errors?.['required']">Email is
                        required.</span>
                    <span class="error-text" *ngIf="email?.invalid && email?.errors?.['pattern']">Please enter a valid
                        email address.</span>
                </label>
                <label for="mobile">Mobile No. :
                    <input type="text" id="mobile" placeholder="995 XXXXXXXXX" formControlName="mobNumber">
                    <span class="error-text" *ngIf="number?.touched && number?.errors?.['required']">Mobile number is
                        required.</span>
                    <span class="error-text" *ngIf="number?.invalid && number?.errors?.['pattern']">Please enter a valid
                        mobile number.</span>
                </label>
            </div>
            <div>
                <label for="password">Password :
                    <input type="password" id="password" placeholder="Enter your password" formControlName="password">
                    <span class="error-text" *ngIf="password?.touched && password?.errors?.['required']">Password is
                        required.</span>
                    <span class="error-text" *ngIf="password?.touched && password?.errors?.['pattern']">Password must
                        contain at least 6 characters, including<br> at least 1 uppercase letter and 1 special
                        character.</span>
                    <!-- {{profileForm.get("password")?.errors | json}} -->
                </label>
                <label for="cpassword">Confirm Password :
                    <input type="password" id="cpassword" placeholder="Confirm your password"
                        formControlName="confirmPassword">
                    <span class="error-text"
                        *ngIf="confirmpassword?.touched && confirmpassword?.errors?.['passwordNotMatch']">
                        Passwords do not match..</span>
                </label>
            </div>
            <div>
                <label for="company">Company Name :
                    <input type="text" id="company" placeholder="Enter Company Name.." formControlName="company">
                    <span class="error-text" *ngIf="company?.touched && company?.errors?.['required']">Company name is
                        required.</span>
                </label>
            </div>
            <div><button type="submit" [disabled]="!profileForm.valid">sign up</button></div>
        </form>

    </div>
    <div class="signup-img"></div>
</div>