<div class="signup">
    <div class="form-section">
        <!-- <button>Back to Login</button> -->
        <app-aven-logo></app-aven-logo>
        <p>Login into your account</p>
        <form [formGroup]="profileForm">
            <label for="firstname">First Name :
                <input type="text" id="firstname" placeholder="Enter your name.." formControlName="firstName">
            </label>
            <label for="lastname">Last Name :
                <input type="text" id="lastname" placeholder="Enter your name.." formControlName="lastName">
            </label>
            <label for="emailid">Email Id :
                <input type="text" id="emailid" placeholder="info@xyz.com" formControlName="email">
            </label>
            <label for="mobile">Mobile No. :
                <input type="number" id="mobile" placeholder="+91 - 98596 58000" formControlName="mobNumber">
            </label>
            <label for="password">Password :
                <input type="password" id="password" placeholder="Enter your password" formControlName="password">
                <!-- {{profileForm.get("password")?.errors | json}} -->
            </label>
            <label for="cpassword">Confirm Password :
                <input type="text" id="cpassword" placeholder="Confirm your password" formControlName="confirmPassword">
            </label>
            <label for="company">Company Name :
                <input type="text" id="company" placeholder="Enter Company Name.." formControlName="company">
            </label>
        </form>
        <button [disabled]="!profileForm.valid">sign up</button>

    </div>
    <div class="signup-img"></div>
</div>