<div class="signup">
    <div class="form">
        <app-aven-logo></app-aven-logo>
        <form>
            <label for="password">First Name :
                <input type="text" id="firstname" placeholder="Enter your name..">
            </label>
            <label for="password">Last Name :
                <input type="text" id="lastname" placeholder="Enter your name..">
            </label>
            <label for="password">Email Id :
                <input type="text" id="emailid" placeholder="info@xyz.com">
            </label>
            <label for="password">Mobile No. :
                <input type="text" id="mobile" placeholder="+91 - 98596 58000">
            </label>
            <label for="password">Password :
                <input type="text" id="spassword" placeholder="Enter your password">
            </label>
            <label for="password">Confirm Password :
                <input type="text" id="password" placeholder="Confirm your password">
            </label>
            <label for="password">Company Name :
                <input type="text" id="company" placeholder="Enter Company Name..">
            </label>
        </form>
        <button>sign up</button>
    </div>
    <div class="signup-img"></div>
</div>